<mat-nav-list>
     <div>
            <button  class="sidenav-link" mat-button [routerLink]="['/level',menuObjs.id]">
                 <mat-icon>{{menuObjs.icon}}</mat-icon> {{menuObjs.label}}
            </button>
     </div>
     <div *ngFor="let a of menuObjs.items">
            <button mat-button [routerLink]="['/level',menuObjs.id,'subject',a.id]">
                  <mat-icon>{{a.icon}}</mat-icon> {{a.label}}
            </button>
            <div *ngFor="let b of a.items">
                        <button mat-button [routerLink]="['/level',menuObjs.id,'subject',a.id,'period',b.id]">
                              <mat-icon>{{b.icon}}</mat-icon> {{b.label}}
                        </button>
                        <div *ngFor="let c of b.items" style="width:100%">
                              <button mat-button [routerLink]="['/level',menuObjs.id,'subject',a.id,'period',b.id,'topic',c.id]">
                                    <mat-icon>{{c.icon}}</mat-icon> {{c.label}}
                              </button>
                        </div>
            </div>
     </div>
      </mat-nav-list>