.menu-level-1 {
    width:100%;
    background: white;
    text-align: left;

 }
 .menu-level-2 {
    width:100%;
    background: white;
    text-align: left;
    margin-left:10px;
 }
 .menu-level-3 {
    width:100%;
    background: white;
    text-align: left;
   margin-left:30px;

 }
 .menu-level-4 {
    width:100%;
    background: white;
    text-align: left;
    margin-left:40px;

 } .menu-level-5 {
   width:100%;
   background:white;
   text-align: left;
   margin-left:70px;
   display:flex;

}
.div-level-5{
   width:100%;
   display:flex;
}
