<mat-nav-list>
      <div  style="display:block">
            <span>
                  <button mat-button class="sidenav-link menu-level-1" [routerLink]="['/level/1']" (click)="sidenav.toggle()">
                   {{levelObj.levelDesc}}
                  </button>
            </span>
      </div>
      
      <div *ngFor="let tc of levelObj.subjects" style="display:block">
            <span>
                  <button mat-button class="sidenav-link menu-level-2">
                              {{tc.subjectDesc}}
                  </button>
            </span>
            <div *ngFor="let p of tc.quarters" ><button mat-button class="sidenav-link menu-level-3" >{{p.quarterDesc}}</button>
                  <span *ngFor="let x of p.topics">
                              <button mat-button class="sidenav-link menu-level-4"
                              [routerLink]="['/level',levelObj.levelid,'subject',tc.subjectId,'period',p.quarterId,'topic',x.topicId]">
                              <mat-icon>subject</mat-icon>{{x.topicDesc}}
                        </button>      
                  </span>
            </div>
      </div>
</mat-nav-list>