<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">

    <mat-nav-list>
      <dl> 
        <dt> <a mat-list-item class="sidenav-link" [routerLink]="['/level/1']" (click)="sidenav.toggle()">
         
          <span class="title" mat-line><mat-icon>account_balances</mat-icon> Primary One</span></a>
          <dd>
              <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1']" (click)="sidenav.toggle()">
                
                <span  mat-line><mat-icon>subject</mat-icon> Mathematics</span>
              </a>
              <div>
                <dl>
                  <dt>
                    <dd> <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1/quarter/1']" (click)="sidenav.toggle()">
                      <span mat-line>First Quarter</span>
                    </a></dd>
                    <dd>
                      <div>
                          <dl>
                              <dt>
                                <dd>
                                    <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1/quarter/1']" (click)="sidenav.toggle()">
                                      <span mat-line>Roman Numerals</span>
                                    </a>
                                </dd>
                              </dl>
                      </div>
                            
                    </dd>
                </dl>
              </div>
          </dd>
      </dl>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
            <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link">{{title}}</a>
    </h1>
    <span class="toolbar-filler"></span>
    <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
    <button id="button-logout" mat-button>{{serviceResult}}</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>