<p>subject works</p>
<p>levelId : {{levelId}}</p>
<p>subjectId : {{subjectId}}</p>
<p>topicId: {{topicId}}</p>

  <!--

    <dd>
            <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1']" (click)="sidenav.toggle()">
              
              <span  mat-line><mat-icon>subject</mat-icon> Mathematics</span>
            </a>
            <div>
              <dl>
                <dt>
                  <dd> <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1/quarter/1']" (click)="sidenav.toggle()">
                    <span mat-line>First Quarter</span>
                  </a></dd>
                  <dd>
                    <div>
                        <dl>
                            <dt>
                              <dd>
                                  <a mat-list-item class="sidenav-link" [routerLink]="['/level/subject/1/quarter/1']" (click)="sidenav.toggle()">
                                    <span mat-line>Roman Numerals</span>
                                  </a>
                              </dd>
                            </dl>
                    </div>
                          
                  </dd>
              </dl>
            </div>
        </dd>
  -->